data/database.sqlite
__pycache__/db_utils.cpython-39.pyc
functions/__pycache__/db_functions.cpython-39.pyc
functions/__pycache__/display_functions.cpython-39.pyc
functions/__pycache__/data_format_functions.cpython-39.pyc

functions/__pycache__/project_functions_classes.cpython-39.pyc
